<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Bootstrap User Management Data Table</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <style>
    body {
      color: #566787;
      background: #f5f5f5;
      font-family: 'Varela Round', sans-serif;
      font-size: 13px;
    }

    .table-responsive {
      margin: 30px 0;
    }

    .table-wrapper {
      min-width: 1000px;
      background: #fff;
      padding: 20px 25px;
      border-radius: 3px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }

    .table-title {
      padding-bottom: 15px;
      background: #299be4;
      color: #fff;
      padding: 16px 30px;
      margin: -20px -25px 10px;
      border-radius: 3px 3px 0 0;
    }

    .table-title h2 {
      margin: 5px 0 0;
      font-size: 24px;
    }

    .table-title .btn {
      color: #566787;
      float: right;
      font-size: 13px;
      background: #fff;
      border: none;
      min-width: 50px;
      border-radius: 2px;
      border: none;
      outline: none !important;
      margin-left: 10px;
    }

    .table-title .btn:hover,
    .table-title .btn:focus {
      color: #566787;
      background: #f2f2f2;
    }

    .table-title .btn i {
      float: left;
      font-size: 21px;
      margin-right: 5px;
    }

    .table-title .btn span {
      float: left;
      margin-top: 2px;
    }

    table.table tr th,
    table.table tr td {
      border-color: #e9e9e9;
      padding: 12px 15px;
      vertical-align: middle;
    }

    table.table tr th:first-child {
      width: 60px;
    }

    table.table tr th:last-child {
      width: 100px;
    }

    table.table-striped tbody tr:nth-of-type(odd) {
      background-color: #fcfcfc;
    }

    table.table-striped.table-hover tbody tr:hover {
      background: #f5f5f5;
    }

    table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
    }

    table.table td:last-child i {
      opacity: 0.9;
      font-size: 22px;
      margin: 0 5px;
    }

    table.table td a {
      font-weight: bold;
      color: #566787;
      display: inline-block;
      text-decoration: none;
    }

    table.table td a:hover {
      color: #2196F3;
    }

    table.table td a.settings {
      color: #2196F3;
    }

    table.table td a.delete {
      color: #F44336;
    }

    table.table td i {
      font-size: 19px;
    }

    table.table .avatar {
      border-radius: 50%;
      vertical-align: middle;
      margin-right: 10px;
    }

    .status {
      font-size: 30px;
      margin: 2px 2px 0 0;
      display: inline-block;
      vertical-align: middle;
      line-height: 10px;
    }

    .text-success {
      color: #10c469;
    }

    .text-info {
      color: #62c9e8;
    }

    .text-warning {
      color: #FFC107;
    }

    .text-danger {
      color: #ff5b5b;
    }

    .pagination {
      float: right;
      margin: 0 0 5px;
    }

    .pagination li a {
      border: none;
      font-size: 13px;
      min-width: 30px;
      min-height: 30px;
      color: #999;
      margin: 0 2px;
      line-height: 30px;
      border-radius: 2px !important;
      text-align: center;
      padding: 0 6px;
    }

    .pagination li a:hover {
      color: #666;
    }

    .pagination li.active a,
    .pagination li.active a.page-link {
      background: #03A9F4;
    }

    .pagination li.active a:hover {
      background: #0397d6;
    }

    .pagination li.disabled i {
      color: #ccc;
    }

    .pagination li i {
      font-size: 16px;
      padding-top: 6px
    }

    .hint-text {
      float: left;
      margin-top: 10px;
      font-size: 13px;
    }

    .sidebar {
      background-color: #03A9F4;
      padding: 0.5em;
    }

    .sidebar a {
      color: #566787;
      background-color: #fff;
    }

    .sidebar h2 {
      color: #fff;
    }

    th#noSortButton {
      pointer-events: none;
      /* Disable pointer events */
      cursor: default;
      /* Set cursor to default */
      user-select: none;
      /* Disable text selection */
    }

    table.dataTable thead .no-sort::before {
      display: none !important;
    }

    table.dataTable thead .no-sort::after {
      display: none !important;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button.current {
      background-color: #007bff !important;
      color: #fff !important;
      border: none !important;
    }
    button{
      border: none;
      background-color: transparent;
      padding: 0;
    }

  </style>
  <script>
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>
</head>

<body ng-app="">
  <% if (messages) { %>
  <script>
    alert('bjir')
  </script>
  <% } %>

  <div class="container-xl">
    <div class="sidebar">
      <h2>Table Management</h2>
      <a href="#" class="btn btn-secondary"> <span>Users Table</span></a>
      <a href="#" class="btn btn-secondary"> <span>Talent Table</span></a>
      <a href="#" class="btn btn-secondary"> <span>Payment Table</span></a>
    </div>
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-5">
              <h2>User <b>Management</b></h2>
            </div>
            <div class="col-sm-7">
              <a class="btn btn-secondary" data-toggle="modal" data-target="#addUserModal">
                <i class="material-icons">&#xE147;</i> <span>Add New User</span>
              </a>
              <a href="#" class="btn btn-secondary"><i class="material-icons">&#xE24D;</i> <span>Export to Excel</span></a>
            </div>
          </div>
        </div>
        <table id="userTable" class="table table-striped table-hover">
          <thead>
            <tr>
              <th class="no-sort" id="noSortButton">#</th>
              <th>Name</th>
              <th>Date Created</th>
              <th>isAdmin</th>
              <th data-orderable="false">Action</th>
            </tr>
          </thead>
          <tbody>
            <% users.forEach((user, index) => { %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= user.name %></td>
              <td><%= formatDate(user.createdAt) %></td>
              <td><%= user.isAdmin %></td>
              <td>
                <form id="deleteUserForm_<%= user._id %>" action="/admin/delete" method="post" onsubmit="return confirmDelete('<%= user._id %>')">
                  <input type="hidden" name="userId" value="<%= user._id %>">
                  <a href="#" class="delete" title="Delete" data-toggle="tooltip" onclick="if (confirmDelete()) { document.getElementById('deleteUserForm_<%= user._id %>').submit(); }">
                    <i class="material-icons">&#xE5C9;</i>
                  </a>
                </form>
                <a href="#" class="settings" title="Settings" data-toggle="modal" data-target="#editUserModal" onclick="populateEditModal( '<%= user.id %>','<%= user.name %>', '<%= user.password %>','<%= user.isAdmin %>')">
                  <i class="material-icons">&#xE8B8;</i>
                </a>
              </td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Create Modal -->
  <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUserModalLabel">Add New User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="addUserForm" action="/createUser" method="post">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="name">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="text" class="form-control" id="password" name="password">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="isAdmin" name="isAdmin">
              <label class="form-check-label" for="isAdmin">Is Admin</label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Save User</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addUserModalLabel">Edit User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form id="editUserForm" action="/editUser" method="post">
            <input type="hidden" class="form-control" id="editUserId" name="id" value="">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="editUserName" name="name" value="">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="editPassword" name="password" value="">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="editIsAdmin" name="isAdmin" value="">
              <label class="form-check-label" for="isAdmin">Is Admin</label>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Update User</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <% function formatDate(dateString) { %>
  <% const date = new Date(dateString); %>
  <% const formattedDate = `${date.getMonth() + 1}/${date.getDate()}/${date.getFullYear()}`; %>
  <% return formattedDate; %>
  <% } %>
  <script>
    function populateEditModal(userId,userName,password, isAdmin) {
      console.log("taibabianjing");
      console.log(userName);
      console.log(password);
      console.log(isAdmin);
      document.getElementById('editUserId').value = userId;
      document.getElementById('editUserName').value = userName;
      document.getElementById('editPassword').value = password;
      document.getElementById('editIsAdmin').checked = isAdmin;
    }
    
    $(document).ready(function() {
      // Check if there are flash messages with the error class
      if (messages.error) {
        // Show the modal
        $('#errorModal').modal('show');
      }
    });

    $(document).ready(function() {
      $('#userTable').DataTable({
        "pageLength": 5,
        "columnDefs": [{
          "targets": 0, // Target the first column (index 0)
          "orderable": false // Make the first column not orderable
        }],
        lengthMenu: false,
        language: {
          "lengthMenu": ""
        }
      });
    });

    function confirmDelete() {
      return confirm("Are you sure you want to delete this user?");
    }
  </script>



  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
</body>

</html>